<%- include ../../partials/header.ejs %>

<table class="table table-hover table-striped">

        <tbody>
                <tr>
                    <th scope="row">Name</td>
                    <td><%-data.name%></td>
                </tr>
                <tr>
                    <th scope="row">Email</td>
                    <td><%-data.email%></td>
                </tr>
                <tr>
                    <th scope="row">Handphone</td>
                    <td><%-data.handphone%></td>
                </tr>
                <tr>
                    <th scope="row">Social Media</td>
                        <td><%-data.social_media%></td>
                </tr>
                <tr>
                    <th scope="row"> Skills</td>
                    <td><%-data.skills%></td>
                </tr>
                <tr>
                    <th scope="row"> Status</td>
                    <td><%-data.status%></td>
                </tr>
                <tr>
                    <th scope="row"> Price</td>
                    <td><%-data.price%></td>
                </tr>
                <tr>
                    <th scope="row"> Rating</td>
                    <td><%-data.rating%></td>
                </tr>
        </tbody>
    </table>  
    
    <h3>PORTOFOLIO</h3>

    <img src="<%=`/${data.photoFile}`%>" class="img-fluid" alt="Responsive image">

<form action="" method="POST">
    <input type="submit" value="HIRE" class="btn btn-primary" >
</form>


</body>
</html>